<!DOCTYPE html>
<html>

<head>

    <% include layout/header %>

</head>

<body>

    <div id="wrapper">

        <% include layout/navbar %>

            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Cập nhật Bài viết</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#">Phóng viên</a>
                        </li>
                        <li>
                            <a href="#">Bài viết</a>
                        </li>
                        <li class="active">
                            <strong>Cập nhật Bài viết</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Cập nhật Bài viết</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="close-link">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data">
                                    <input type="hidden" name="_token" id="csrf-token" value="{{ Session::token() }}" />

                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Chuyên mục</label>
                                        <div class="col-lg-10">
                                            <select name="article" id="article" tabindex="4" required="">
                                                    <option value="phim-anh" selected>Phim ảnh</option>
                                                    <option value="cong-nghe">Công nghệ</option>
                                                    <option value="xuat-ban">Xuất bản</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-lg-2 control-label">Tiêu đề</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="name" class="form-control" value="Những câu hỏi lớn 'Avengers: Endgame' phải trả lời" required="">
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-lg-2 control-label">Link</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="link" class="form-control" value="/nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi-123" disabled>
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-lg-2 control-label">Ảnh đại diện</label>
                                        <div class="col-lg-10">
                                            <input accept="image/*" type="file" class="banner-img-input" name="banner">
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-lg-2 control-label">Tóm tắt</label>
                                        <div class="col-lg-10">
                                            <input type="text" name="description" class="form-control" value="Bom tấn 'Avengers: Endgame' sẽ công phá các rạp chiếu từ ngày 26/4. Các siêu anh hùng sẽ làm gì để đảo ngược cú búng tay định mệnh của Thanos và giải cứu mọi người?" required="">
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-lg-2 control-label">Tag</label>
                                        <div class="col-lg-10"><input type="text" name="tag" class="form-control" value="Avengers Endgame" required="">
                                        </div>
                                    </div>

                                    <div class="form-group"><label class="col-lg-2 control-label">Nội dung</label>
                                        <div class="col-lg-10">
                                            <textarea name="content" id="content" class="form-control" cols="30" rows="10" required="">

                                        <p>Bom tấn "Avengers: Endgame" sẽ công phá các rạp chiếu từ ngày 26/4. Các siêu anh hùng sẽ làm gì để đảo ngược cú búng tay định mệnh của Thanos và giải cứu mọi người?</p>
                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/BTP9020_v1401055.jpg" alt="">
                                        </div>
                                        <p>Các thành viên Avengers sẽ du hành thời gian? Giới chuyên môn và fan MCU đều đoán các thành viên sống sót của biệt đội siêu anh hùng Avengers sẽ đi về quá khứ - có thể là thông qua Lượng tử giới (Quantum Realm)
                                            - để đảo ngược cú búng tay xóa sổ 50% sinh linh vũ trụ của Thanos.</p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/pe.jpg" alt="">
                                        </div>
                                        <p><strong>Nhóm Avengers có tìm hiểu dự án Pegasus? </strong>Trong<em> Captain Marvel</em>, nhà khoa học Mar-Vell đã tận dụng dự án Pegasus để nghiên cứu Đá Không gian nhằm tạo ra động cơ tốc độ ánh sáng. Ở <em>The Avengers, </em>Giám
                                            đốc SHIELD Nick Fury, chuyên gia Erik Selvig và Hawkeye đề tham gia vào dự án này. Cha của Tony Stark cũng đóng một vai trò lớn ở đó. Rất có thể Pegasus sẽ là chìa khóa để các thành viên Avengers trở về quá
                                            khứ.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/LST3480_v013_TRL1088.jpg" alt="">
                                        </div>
                                        <p><strong>Iron Man và Nebula trở về Trái đất như thế nào? </strong>Trailer mới của <em>Avengers: Endgame</em> cho thấy Iron Man và Nebula đều trở về Trái đất an toàn. Nhưng họ làm được điều đó thế nào khi động cơ
                                            phi thuyền bị hỏng, thức ăn và dưỡng khí đều cạn kiệt? Tony Stark là một thiên tài và khi bị giam trong hang đá, anh đã chế tạo ra bộ giáp Iron Man. Rất có thể anh và Nebula cùng hợp tác để tìm thấy đường sống.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/LVA9080_v0151058.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Ant-Man thoát khỏi Lượng tử giới như thế nào? </strong><em>Cuối Ant-Man and the Wasp</em>, Người Kiến mắc kẹt trong Lượng tử giới (Quantum Realm). Chúng ta đều biết rõ Scott Lang sẽ thoát khỏi thế giới
                                            vô cùng nhỏ đó, bởi anh xuất hiện trong trailer <em>Endgame</em>. Anh làm được điều đó như thế nào khi không có bất kỳ ai hỗ trợ?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/EBA3000_v002_TRL1275.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Gia đình Hawkeye đều thiệt mạng sau cú búng tay của Thanos? </strong>Trailer <em>Endgame </em>cho thấy Hawkeye sầu khổ trở thành Ronin, tiêu diệt mafia tại Nhật trước khi gặp Black Widow. Nếu cả gia
                                            đình Clint Barton thiệt mạng sau cú búng tay của Thanos, rất có thể anh sẽ phát điên và rơi vào vòng xoáy bạo lực, trở thành Ronin trước khi quay lại với nhóm Avengers.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/civil.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Captain America và Iron Man sẽ tái ngộ như thế nào? </strong>Lần cuối chạm mặt nhau ở <em>Captain Americal: Civil War</em>, Captain America và Iron Man giao chiến dữ dội. Kể từ đó, họ không còn liên
                                            lạc. Thậm chí khi binh đoàn của Thanos tấn công Trái đất, Tony Stark vẫn ngần ngại, không muốn gọi điện cho Steve Rogers. Cuộc tái ngộ của họ sẽ là điều khán giả rất mong chờ.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/thanosdi.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Thanos đi đâu sau <em>Avengers: Infinity War</em>? </strong>Đạo diễn <em>Infinity War</em> Joe Russo xác nhận Thanos không xâm nhập vào Thế giới Linh hồn do Đá Linh hồn tạo ra. Thay vào đó, gã Titan
                                            điên đến nghỉ ngơi tại một hành tinh xa xôi.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/broken.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Găng tay Vô cực đã hỏng hay còn sử dụng được? </strong>Sau khi Thanos búng tay tiêu diệt 50% sinh linh trong vũ trụ, Găng tay Vô cực chứa 6 viên Đá Vô cực bị cháy xém. Khi đó, Thanos vẫn có thể dùng
                                            Đá Không gian để chạy trốn. Liệu hắn sẽ còn tiếp tục sử dụng Găng tay Vô cực?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/hulkban.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Bruce Banner và Hulk giải quyết mâu thuẫn như thế nào? </strong>Trong <em>Infinity War</em>, Người Khồng Lồ Xanh không chịu xuất hiện bất chấp sự nài nỉ của Bruce Banner. Đạo diễn Joe Russo cho biết
                                            Hulk đã quá mệt mỏi vì cứ phải cứu Banner. Mối quan hệ của cả hai trở nên phức tạp và cần được giải quyết.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/vission.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Nhóm Avengers có cứu được Vision? </strong>Vision thiệt mạng sau khi Thanos kéo Đá Tâm trí ra khỏi trán anh. Nhưng có thể Tony Stark sẽ sửa chữa Vision khi anh trở về Trái đất. Iron Man từng sửa được
                                            Jarvis sau khi trí tuệ nhân tạo này bị Ultron phá hủy. Và hi vọng Shuri lưu lại dữ liệu của Vision trước khi tan biến thành tro bụi.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/val2.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Valkyrie, Korg và những người Asgard sống sót ở đâu? </strong>Đạo diễn Joe Russo cho biết Valkyrie sống sót sau khi Thanos tấn công tàu không gian của người Asgard. Cô và những người Asgard còn lại,
                                            cùng Korg và Miek đã trốn đi đâu?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/stan1.jpeg" alt="">
                                        </div>
                                        <p>
                                            <strong>Vai khách mời cuối cùng Stan Lee sẽ như thế nào? </strong>Đạo diễn Joe Russo xác nhận Stan Lee thực hiện vai diễn khách mời (cameo) cuối cùng của đời ông trong <em>Endgame</em>. "Khi Stan đến phim trường,
                                            mọi diễn viên ngôi sao đều trở thành những đứa trẻ hâm mộ", ông Russo mô tả.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/sharon.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Captain America có gặp lại Sharon Carter không? </strong>Trong <em>Civil War</em>, Captain America và Sharon Carter đã thể hiện tình cảm bằng một nụ hôn. Tuy nhiên, cháu gái của Peggy Carter không có
                                            mặt trong <em>Infinity War</em>. Nếu Sharon còn sống, liệu Captain có gặp lại cô và nối lại tình cảm hay không?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/tonpep.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Tony Stark và Pepper Potts có làm đám cưới? </strong>Tony Stark và Pepper Potts đã đính hôn, nhưng họ bị chia cắt khi binh đoàn của Thanos tấn công Trái đất. Sau khi Iron Man trở về, liệu họ có làm đám
                                            cưới? Và pháp sư Wong có tham dự hôn lễ của họ không?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/strange.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Viễn cảnh mà Doctor Strange thấy là gì? </strong>Trên hành tinh Titan, Doctor Strange dùng Đá Thời gian và quan sát hơn 14 triệu kết quả trong cuộc chiến chống Thanos. Và chỉ có một là nhóm Avengers
                                            chiến thắng. Viễn cảnh đó thực sự là như thế nào?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/avengersposters.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Những siêu anh hùng nào sẽ thiệt mạng? </strong>Chắc chắn tất cả các siêu anh hùng sẽ không thể sống sót trong cuộc chiến chống Thanos. Giới chuyên môn và khán giả dự đoán Captain America và Iron Man
                                            sẽ hi sinh.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="https://znews-photo.zadn.vn/w1024/Uploaded/bpivpjbp/2018_10_29/thanosem.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Thế còn số phận của Thanos sẽ ra sao? </strong>Trong lần tái ngộ, Thor chắc chắn sẽ nhắm vào đầu của Thanos. Và Nebula rất muốn trả thù người cha nuôi tàn độc của cô. Nhưng điều đó liệu có quá dễ dàng?
                                            Không ít siêu ác nhân trong MCU bị đánh bại nhưng vẫn sống sót. Rất có thể Thanos cũng sẽ chung số phận đó.
                                        </p>            
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary pull-right">Xác nhận</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include layout/footer %>
    </div>
    </div>

    <% include layout/script %>

        <!-- Page-Level Scripts -->
        <script>
            $(document).ready(function() {
                $('.chosen-select').chosen({
                    width: "100%"
                });


            });
        </script>

</body>

</html>