<div class="card shadow">
  <h4 class="card-header">
    New Category
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtName">Category</label>
        <input type="text" class="form-control" id="txtName" name="name" autofocus placeholder="Enter Category name">
      </div>

      <div class="form-group">
        <input type="hidden" name="url" />
        <label>Link</label>
        <input type="text" placeholder="" name="url" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="txtProject">Project</label>
        <select name="id_project" id="txtProject" class="form-control">
          {{#each this.projects}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <a class="btn btn-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>