<!DOCTYPE html>
<html>

<head>
    <% include ../layout/header %>
</head>

<body>

    <div id="wrapper">

        <% include ../layout/navbar %>


            <% include ../layout/footer %>
    </div>
    </div>

    <% include ../layout/script %>

</body>

</html>