<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
    <div class="container">
        <div id="nav-menu">
            <ul>
                <li><a class="home" href="#">HOME<a></li>
                <li><a class="jobs" href="#">JOBS</a></li>
                <li><a class="contact" href="#">CONTACT</a></li>
            </ul>
        </div>
        <div id="img">
            <img src="logo.png" alt="">
        </div>
        <div id="content">
            <h1>GENERAL INQUIRIES</h1>

            <form action="">
                <h4>NAME</h4>
                <p>required</p>
                <input id="text" type="text">
                <h4>EMAIL</h4>
                <p>required</p>
                <input id="text" type="text">
                <h4>NATURE OF ENQUIRY</h4><br>

                <select name="" id="choose">
                    <option value="general" default>general</option>
                    <option value="default">default</option>
                </select>
                <br>

                <h4>MESSAGE</h4>
                <textarea name="" id="text"></textarea>
                <h4>3 + 4 = ?</h4>
                <p>required</p>
                <input id="text" type="text">

                <h2><a href="#">SUBMIT</a></h3>
            </form>

            <h3>200 Online Users - 24 Visited Users</h3>
        </div>
    </div>
</body>

</html>