<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="hero-slides owl-carousel">

          <!-- Single Blog Post -->
          <div class="single-blog-post d-flex align-items-center mb-50">
            <div class="post-thumb">
              <!-- 130x130 -->
              <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi"><img style="width: 130px; height: 130px;"
                  src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2018_10_29/endgame5.jpg" alt=""></a>
            </div>
            <div class="post-data">
              <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi" class="post-title">
                <h6>Những câu hỏi lớn "Avengers: Endgame" phải trả lời</h6>
              </a>
              <div class="post-meta">
                <p class="post-date">14:08 20/04/2019</p>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="single-blog-post d-flex align-items-center mb-50">
            <div class="post-thumb">
              <!-- 130x130 -->
              <a href="#"><img style="width: 130px; height: 130px;"
                  src="https://znews-photo.zadn.vn/w480/Uploaded/wyhktpu/2019_04_19/samsungTV8K_1.jpg" alt=""></a>
            </div>
            <div class="post-data">
              <a href="#" class="post-title">
                <h6>Chi tiết TV QLED 8K đầu tiên của Samsung ở Việt Nam</h6>
              </a>
              <div class="post-meta">
                <p class="post-date">19:00 19/04/2019</p>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="single-blog-post d-flex align-items-center mb-50">
            <div class="post-thumb">
              <!-- 130x130 -->
              <a href="#"><img style="width: 130px; height: 130px;"
                  src="https://znews-photo.zadn.vn/w480/Uploaded/Wagtrb/2019_04_19/khai_mac_sach_3_zing__Copy.JPG"
                  alt=""></a>
            </div>
            <div class="post-data">
              <a href="#" class="post-title">
                <h6>Khai mạc Ngày sách Việt Nam tại TP.HCM</h6>
              </a>
              <div class="post-meta">
                <p class="post-date">18:43 19/04/2019</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### Welcome Slide Area Start ##### -->
<div class="welcome-slide-area">

  <div class="container">
    <h4>Bài viết mới nhất</h4>
    <div class="row">
      <div class="col-12">
        <div class="welcome-slides owl-carousel">

          <!-- Single Welcome Slide -->
          <div class="single-welcome-slide">
            <div class="row no-gutters">
              <div class="col-12 col-lg-8">
                <!-- Welcome Post -->
                <div class="welcome-post">
                  <!-- 740x420 -->
                  <img style="width: 740px; height: 420px;"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2018_10_29/endgame5.jpg" alt="">
                  <div class="post-content" data-animation="fadeInUp" data-duration="500ms">
                    <a href="phim-anh" class="tag">Phim ảnh</a>
                    <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi" class="post-title">Những câu hỏi lớn
                      "Avengers: Endgame" phải trả lời</a>
                    <p>14:08 20/04/2019</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-lg-4">
                <div class="welcome-posts--">
                  <!-- Welcome Post -->
                  <div class="welcome-post style-2">
                    <!-- 370x208 -->
                    <img style="width: 370px; height: 208px;"
                      src="https://znews-photo.zadn.vn/w480/Uploaded/wyhktpu/2019_04_19/samsungTV8K_1.jpg" alt="">
                    <div class="post-content" data-animation="fadeInUp" data-delay="500ms" data-duration="500ms">
                      <a href="#" class="tag tag-2">Công nghệ</a>
                      <a href="#" class="post-title">Chi tiết TV QLED 8K đầu tiên của Samsung ở Việt Nam</a>
                      <p>19:00 19/04/2019</p>
                    </div>
                  </div>

                  <!-- Welcome Post -->
                  <div class="welcome-post style-2">
                    <!-- 370x208 -->
                    <img style="width: 370px; height: 208px;"
                      src="https://znews-photo.zadn.vn/w480/Uploaded/Wagtrb/2019_04_19/khai_mac_sach_3_zing__Copy.JPG"
                      alt="">
                    <div class="post-content" data-animation="fadeInUp" data-delay="750ms" data-duration="500ms">
                      <a href="#" class="tag tag-3">Xuất bản</a>
                      <a href="#" class="post-title">Khai mạc Ngày sách Việt Nam tại TP.HCM</a>
                      <p>18:43 19/04/2019</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Welcome Slide Area End ##### -->

<!-- ##### Blog Post Area Start ##### -->
<div class="viral-story-blog-post section-padding-0-50">
  <div class="container">
    <div class="row">
      <!-- Blog Posts Area -->
      <div class="col-12 col-lg-8">
        <h4>Top 10 chuyên mục</h4>
        <div class="row">

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/yfsgs/2019_04_29/58763436_607255993077040_1878935307374559232_n.jpg"
                    alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory">THỜI SỰ</a>
                <a href="#" class="post-title">
                  <h6>Hà Nội mưa lớn trong đêm khiến nhiều tuyến phố ngập nặng</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/neg_sfzyrwj/2019_04_29/Jakarta.jpg" alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory cat-3">THẾ GIỚI</a>
                <a href="#" class="post-title">
                  <h6>Indonesia sẽ di dời thủ đô khỏi Jakarta do tắc nghẽn giao thông</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_nemrxw/2019_04_29/musk.jpg" alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory">KINH DOANH</a>
                <a href="#" class="post-title">
                  <h6>Các đại gia công nghệ khởi nghiệp từ năm bao nhiêu tuổi</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/neg_wpeczyr/2019_04_29/Screen_Shot_20190429_at_65404_PM.jpg"
                    alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory cat-3">CÔNG NGHỆ</a>
                <a href="#" class="post-title">
                  <h6>Loạt smartphone giảm giá mạnh dịp lễ 30/4</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2019_04_29/gkSahwfpcxm7573374.jpg"
                    alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory cat-2">GIẢI TRÍ</a>
                <a href="#" class="post-title">
                  <h6>Tỷ phú Hong Kong bỏ bê các con vì say đắm á hậu đáng tuổi cháu</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/kbd_pilk/2019_04_29/parkhand.jpg" alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory cat-4">ÂM NHẠC</a>
                <a href="#" class="post-title">
                  <h6>Park Yoochun nhận tội chơi ma túy sau nhiều lần ngoan cố phủ nhận</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_rkxrxd/2019_04_29/avaend1.jpeg" alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory">PHIM ẢNH</a>
                <a href="#" class="post-title">
                  <h6>Với 1,2 tỷ USD doanh thu tuần đầu, 'Endgame' liệu có vượt 'Avatar'?</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/aohvuob/2019_04_20/nhung_mon_do_dat_tien_cua_gucci.jpg"
                    alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory cat-3">THỜI TRANG</a>
                <a href="#" class="post-title">
                  <h6>Điểm danh 7 món phụ kiện thời trang đắt tiền nhất của Gucci</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 1000x740 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w660/Uploaded/BzcwvoBL/2019_04_30/daviddegeacropped_cnef010sexvw10sm80nx8pbvu.jpg"
                    alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory">THỂ THAO</a>
                <a href="#" class="post-title">
                  <h6>De Gea đang bị các thủ môn khác bỏ xa ở Premier League</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Blog Post -->
          <div class="col-12 col-lg-6">
            <div class="single-blog-post style-3">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 350x259 -->
                <a href="#"><img style="width: 350px; height: 259px"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/zbvunua/2019_04_29/AR190429142_thumb.jpg" alt=""></a>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="#" class="post-catagory cat-3">GIÁO DỤC</a>
                <a href="#" class="post-title">
                  <h6>Hàng loạt học sinh tự tử vì thi trượt</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">By <a href="#">Michael Smithson</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-12">
            <div class="viral-news-pagination">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">01</a></li>
                  <li class="page-item"><a class="page-link" href="#">02</a></li>
                  <li class="page-item"><a class="page-link" href="#">03</a></li>
                  <li class="page-item"><a class="page-link" href="#">04</a></li>
                  <li class="page-item"><a class="page-link" href="#">05</a></li>
                  <li class="page-item"><a class="page-link" href="#">...</a></li>
                  <li class="page-item"><a class="page-link" href="#">15</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Sidebar Area -->
      <div class="col-12 col-lg-4">
        <div class="sidebar-area">

          <!-- Trending Articles Widget -->
          <div class="treading-articles-widget mb-70">
            <h4>Xem nhiều nhất</h4>

            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 350x117 -->
                <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi"><img style="width: 350px; height: 117px;"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2018_10_29/endgame5.jpg" alt=""></a>
                <span class="serial-number">
                  1
                </span>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="phim-anh" class="post-catagory cat-3">PHIM ẢNH</a>
                <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi" class="post-title">
                  <h6>Những câu hỏi lớn "Avengers: Endgame" phải trả lời</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">Đăng bởi <a href="#">Nguyễn Anh Tuấn</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>

            <!-- Single Trending Articles -->
            <div class="single-blog-post style-4">
              <!-- Post Thumb -->
              <div class="post-thumb">
                <!-- 350x117 -->
                <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi"><img style="width: 350px; height: 117px;"
                    src="https://znews-photo.zadn.vn/w480/Uploaded/bpivpjbp/2018_10_29/endgame5.jpg" alt=""></a>
                <span class="serial-number">
                  1
                </span>
              </div>
              <!-- Post Data -->
              <div class="post-data">
                <a href="phim-anh" class="post-catagory cat-3">PHIM ẢNH</a>
                <a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi" class="post-title">
                  <h6>Những câu hỏi lớn "Avengers: Endgame" phải trả lời</h6>
                </a>
                <div class="post-meta">
                  <!-- <p class="post-author">Đăng bởi <a href="#">Nguyễn Anh Tuấn</a></p> -->
                  <p class="post-date">5 Hours Ago</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Post Area End ##### -->