{{#section 'js'}}
<script>
  $(document).ready(function () {
    $('#content').summernote({
      height: 500,
    });
  });
</script>
<script>
  $(function () {
    $('input[name="posted_at"]').daterangepicker({
      singleDatePicker: true,
      timePicker24Hour: true,
      timePicker: true,
      showDropdowns: true,
      "drops": "up",
      locale: {
        format: 'DD/MM/YYYY HH:mm',
      }
    });
  });
</script>
{{/section}}
<div class="card shadow">
  <h4 class="card-header">
    New Post
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" autofocus placeholder="Enter Post name">
      </div>

      <div class="form-group">
        <input type="hidden" name="url" />
        <label>Link</label>
        <input type="text" name="url" class="form-control" disabled>
      </div>

      <div class="form-group">
        <label for="id_project">Project</label>
        <select id="id_project" class="form-control">
          <option value="" selected disabled>Chọn Project</option>
          {{#each this.projects}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="id_category">Category</label>
        <select name="id_category" id="id_category" class="form-control">
          <option value="" selected disabled>Vui lòng chọn Project trước!</option>
          {{#each this.categories}}
          <option value="{{id}}">{{name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="form-group">
        <label for="url_thumbnail">Thumbnail</label>
        <input type="text" class="form-control" id="url_thumbnail" name="url_thumbnail"
          placeholder="Enter url Thumbnail">
      </div>

      <div class="form-group">
        <label for="abstract">Abstract</label>
        <input type="text" class="form-control" id="abstract" name="abstract" placeholder="Enter abstract">
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <textarea name="content" id="content" cols="30" rows="10" class="form-control"
          placeholder="Enter content"></textarea>
      </div>

      <div class="form-group">
        <label for="tag">Tag</label>
        <input type="text" class="form-control" id="tag" name="tag" placeholder="Enter tag">
      </div>

      <div class="form-group">
        <label for="posted_at">Time Post</label>
        <input type="text" class="form-control" id="posted_at" name="posted_at">
      </div>

      <a class="btn btn-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
</div>