<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex align-items-center justify-content-between">
                        <!-- Breaking News Area -->
                        <div class="top-breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="nhung-cau-hoi-lon-avengers-endgame-phai-tra-loi">Những câu hỏi lớn "Avengers: Endgame" phải trả lời</a></li>
                                    <li><a href="#">Khai mạc Ngày sách Việt Nam tại TP.HCM</a></li>
                                    <li><a href="#">Chi tiết TV QLED 8K đầu tiên của Samsung ở Việt Nam</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Social Info Area-->
                        <div class="top-social-info-area">
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="viral-news-main-menu" id="stickyMenu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="viralnewsNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/homepage"><img src="img/core-img/logo.png" alt="Logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="phim-anh">Phim ảnh</a></li>
                                <li><a href="#">Chuyên mục</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Thời sự</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Chính trị</a></li>
                                                <li><a href="#">Giao giông</a></li>
                                                <li><a href="#">Đô thị</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Pháp luật</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Pháp đình</a></li>
                                                <li><a href="#">Vụ án</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Thế giới</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Quân sự</a></li>
                                                <li><a href="#">Tư liệu</a></li>
                                                <li><a href="#">Phân tích</a></li>
                                                <li><a href="#">Người việt bốn phương</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Kinh doanh</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Bất động sản</a></li>
                                                <li><a href="#">Hàng không</a></li>
                                                <li><a href="#">Tài chính</a></li>
                                                <li><a href="#">Tiêu dùng</a></li>
                                                <li><a href="#">Doanh nhân</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Công nghệ</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Mobile</a></li>
                                                <li><a href="#">AI</a></li>
                                                <li><a href="#">Smart Home</a></li>
                                                <li><a href="#">Startup</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Thể thao</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Thể thao Việt Nam</a></li>
                                                <li><a href="#">Cup châu Âu</a></li>
                                                <li><a href="#">Thể thao thế giới</a></li>
                                                <li><a href="#">Bóng đá Anh</a></li>
                                                <li><a href="#">Bóng đá Việt Nam</a></li>
                                                <li><a href="#">Hậu trường thể thao</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Giải trí</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Sao Việt</a></li>
                                                <li><a href="#">Sao châu Á</a></li>
                                                <li><a href="#">Sao Hollywood</a></li>
                                                <li><a href="#">Quize Article</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Sống trẻ</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Gương mặt trẻ</a></li>
                                                <li><a href="#">Cộng đồng mạng</a></li>
                                                <li><a href="#">Sự kiện</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Xe 360</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Mua xe</a></li>
                                                <li><a href="#">Lái xe</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Âm nhạc</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Nhạc Việt</a></li>
                                                <li><a href="#">Nhạc Hàn</a></li>
                                                <li><a href="#">Nhạc Âu Mỹ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Phim ảnh</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Phim chiếu rạp</a></li>
                                                <li><a href="#">Phim truyền hình</a></li>
                                                <li><a href="#">Game Show</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Thời trang</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Thời trang sao</a></li>
                                                <li><a href="#">Mặc đẹp</a></li>
                                                <li><a href="#">Làm đẹp</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Xuất bản</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Tin tức xuất bản</a></li>
                                                <li><a href="#">Sách hay</a></li>
                                                <li><a href="#">Tác giả</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Giáo dục</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Tuyển sinh 2019</a></li>
                                                <li><a href="#">Tư vấn</a></li>
                                                <li><a href="#">Du học</a></li>
                                                <li><a href="#">Học tiếng Anh</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Sức khỏe</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Khỏe đẹp</a></li>
                                                <li><a href="#">Dinh dưỡng</a></li>
                                                <li><a href="#">Mẹ và Bé</a></li>
                                                <li><a href="#">Bệnh thường gặp</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Du lịch</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Địa điểm du lịch</a></li>
                                                <li><a href="#">Kinh nghiệm du lịch</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Ẩm thực</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Địa điểm ăn uống</a></li>
                                                <li><a href="#">Món ngon</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Nhịp sống</a>
                                            <ul class="dropdown">
                                                <li><a href="#">TTDN</a></li>
                                                <li><a href="#">Cười</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Test</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Catagories</a></li>
                                                <li><a href="#">Contact</a></li>
                                                <li><a href="#">Home</a></li>
                                                <li><a href="#">Catagories</a></li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Tin game</a></li>
                                <li><a href="#">Cafebiz</a></li>
                                <li><a href="#">Videos</a></li>
                                <li><a href="#">Mega Menu</a>
                                    <div class="megamenu">
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">Thời sự</a></li>
                                            <li><a href="#">Pháp luật</a></li>
                                            <li><a href="#">Thế giới</a></li>
                                            <li><a href="#">Kinh doanh</a></li>
                                            <li><a href="#">Công nghệ</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">Thể thao</a></li>
                                            <li><a href="#">Giải trí</a></li>
                                            <li><a href="#">Sống trẻ</a></li>
                                            <li><a href="#">Xe 360</a></li>
                                            <li><a href="#">Âm nhạc</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">Phim ảnh</a></li>
                                            <li><a href="#">Thời trang</a></li>
                                            <li><a href="#">Xuất bản</a></li>
                                            <li><a href="#">Giáo dục</a></li>
                                            <li><a href="#">Sức khỏe</a></li>
                                        </ul>
                                        <ul class="single-mega cn-col-4">
                                            <li><a href="#">Du lịch</a></li>
                                            <li><a href="#">Ẩm thực</a></li>
                                            <li><a href="#">Nhịp sống</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>

                            <!-- Search Button -->
                            <div class="search-btn">
                                <i id="searchbtn" class="fa fa-search" aria-hidden="true"></i>
                            </div>

                            <!-- Search Form -->
                            <div class="viral-search-form">
                                <form id="search" action="#" method="get">
                                    <input type="text" name="search-terms" placeholder="Enter your keywords ...">
                                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            <!-- Video Post Button -->
                            <div class="add-post-button">
                                <a href="../users/login" class="btn add-post-btn">Đăng nhập</a>
                            </div>

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->