<!DOCTYPE html>
<html lang="en">

<head>
    <% include layout/header %>
</head>

<body>
    <% include layout/nav %>

        <!-- ##### Viral News Breadcumb Area Start ##### -->
        <div class="viral-news-breadcumb-area section-padding-50">
            <div class="container h-100">
                <div class="row h-100 align-items-center">

                    <!-- Breadcumb Area -->
                    <div class="col-12 col-md-4">
                        <h3>Công nghệ</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="cong-nghe">Công nghệ</a></li>
                            </ol>
                        </nav>
                    </div>

                    <!-- Add Widget -->
                    <div class="col-12 col-md-8">
                        <div class="add-widget">
                            <a href="#"><img src="img/bg-img/add2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Viral News Breadcumb Area End ##### -->

        <!-- ##### Blog Area Start ##### -->
        <div class="blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11">
                        <div class="blog-posts-area">

                            <!-- Single Featured Post -->
                            <div class="single-blog-post-details">
                                <div class="post-thumb">
                                    <img src="img/upload/samsungTV8K_zing0260_1.jpg" alt="">
                                </div>
                                <div class="post-data">
                                    <a href="cong-nghe" class="post-catagory">Công nghệ</a>
                                    <h2 class="post-title">
                                        <%= page %>
                                    </h2>
                                    <div class="post-meta">

                                        <!-- Post Details Meta Data -->
                                        <div class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                            <!-- Post Author & Date -->
                                            <div class="post-authors-date">
                                                <p class="post-author">Đăng bởi <a href="#">Nguyễn Anh Tuấn</a></p>
                                                <p class="post-date">14:08 20/04/2019</p>
                                            </div>
                                            <!-- View Comments -->
                                            <div class="view-comments">
                                                <p class="views">1281 lượt xem</p>
                                                <a href="#comments" class="comments">3 bình luật</a>
                                            </div>
                                        </div>

                                        <p>
                                            Mẫu TV Q900R sở hữu tấm nền QLED độc quyền của Samsung. Model này có nhiều kích thước lần lượt là 65, 75, 82, 98 inch, độ phân giải 8K với hơn 33 triệu điểm ảnh. Với mật độ điểm ảnh này, Q900R có độ nét gấp 4 lần TV 4K và 16 lần TV Full HD.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0240_1.jpg" alt="">
                                        </div>
                                        <p>
                                            Q900R sử dụng công nghệ đèn nền Direct Full Array 16X giúp kiểm soát tốt hơn các điểm ảnh giảm được hiện tượng hở sáng, cho độ sâu màu đen tốt hơn.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0258_1.jpg" alt="">
                                        </div>
                                        <p>
                                            Ngoài ra, Samsung Q900R được trang bị công nghệ Ultra Viewing Angle, giúp giảm thiểu rò rỉ sáng cho góc nhìn rộng, khắc phục tốt điểm yếu của màn hình QLED trước đây.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsung8k_zing_1.jpg" alt="">
                                        </div>
                                        <p>
                                            Qua trải nghiệm, độ sâu màu đen của TV Q900R ở mức khá, kết hợp với công nghệ chấm lượng tử với mức sáng 4.000 nit giúp độ tương phản, tái hiện HDR của TV tốt. Bên cạnh đó, công nghệ chấm lượng tử HDR giúp TV hiển thị màu sắc rực rỡ, không bị bệt màu
                                            hơn các model khác trên thị trường. Điều này giúp Samsung tiếp tục duy trì thế mạnh về khả năng hiển thị bắt mắt của hãng.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0208_1.jpg" alt="">
                                        </div>
                                        <p>
                                            Thiếu hụt nội dung 8K luôn là điều khiến khách hàng lo ngại khi quyết định mua Q900R. Hiểu được điều này, Samsung trang bị cho TV thuật toán xử lý và nâng chất lượng hình ảnh. Với con chip tích hợp trí tuệ nhân tạo, Q900R có thể nội suy điểm ảnh, nâng
                                            hình ảnh Full HD lên chất lượng 8K.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0335_1.jpg" alt="">
                                        </div>
                                        <p>
                                            Qua trải nghiệm tính hiệu TV kỹ thuật số, Q900R có khả năng hiển thị các kênh truyền hình thông thường với độ chi tiết cao, màu sắc rực, không bệt. Từ khoảng cách 2 mét, với màn hình 65 inch, người xem không bị hiện tượng vỡ hạt gây khó chịu.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0261_2.jpg" alt="">
                                        </div>
                                        <p>
                                            Cũng nhờ con chip AI, TV Q900R có thể tự động điều chỉnh độ sáng màn hình, âm thanh TV phù hợp với nội dung và không gian phòng. Điều này giúp người dùng không phải chủ động chỉnh độ sáng hay âm lượng cho phù hợp. Ngoài ra, TV còn có thể ghi nhớ thói
                                            quen hiển thị và âm lượng của người dùng để tự động tinh chỉnh.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0386.jpg" alt="">
                                        </div>
                                        <p>
                                            Chân đế của Q900R gọn gàng nhưng vẫn đảm bảo sự chắc chắn cho kích thước màn hình 65 inch. Bên cạnh đó, chân đế này có có rãnh giấu dây khá thẩm mỹ.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0264.jpg" alt="">
                                        </div>
                                        <p>
                                            So với các model khác, Q900R khá dày. Tuy vậy, độ dày được phân tán đều, giúp TV đồng bộ hơn khi trang trí. Một số mẫu TV khác có viền rất mỏng nhưng các linh kiện khác dồn vào giữa khiến độ dày tăng đáng kể.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0379.jpg" alt="">
                                        </div>
                                        <p>
                                            Model này trang bị loa công suất 60 W, 4.2 kênh. Qua trải nghiệm, loa Q900R có khả năng phát riêng biệt giọng nói trong các bộ phim, tùy chỉnh âm thanh phù hợp với nội dung trình chiếu. Loa cho trải nghiệm nghe to, trong và không tạo cảm giác mệt khi
                                            nghe thời gian dài.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0356.jpg" alt="">
                                        </div>
                                        <p>
                                            Ngoài ra, Q900R cũng được tích hợp tính năng Ambient Mode. Tính năng này giúp biến TV thành một khung tranh khi không sử dụng với lượng điện năng tiêu thụ chỉ 40% so với khi hoạt động. Với tính năng này, TV sẽ tự động nhận diện môi trường sáng trong phòng
                                            để hòa mình vào tường như một vật trang trí.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0326.jpeg" alt="">
                                        </div>
                                        <p>
                                            Q900R sử dụng một dây kết nối duy nhất với tên gọi One Connect. Dây này đồng thời truyền dữ liệu âm thanh, hình ảnh vừa kết nối TV với nguồn điện. Điều này giúp Q900R tinh gọn hơn, không gây rối mắt khi xem. Đặc biệt thích hợp khi treo TV lên tường.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0298.jpg" alt="">
                                        </div>
                                        <p>
                                            Dây One Connect sẽ kết nối TV với một hub màu đen có thiết kế tinh giản. Hub này hỗ trợ 4 cổng HDM, 3 cổng USB A, 1 cổng LAN, 1 cổng AV… Ngoài ra, Q900R còn hỗ trợ các kết nối như WiFi, Bluetooth, Airplay 2…
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0364.jpg" alt="">
                                        </div>
                                        <p>
                                            Q900R sở hữu remote bằng thép sang trọng hỗ trợ điều khiển giọng nói. Bộ điều khiển này có thể kết nối với hộp truyền kỹ thuật số, giúp người dùng chỉ cần sử dụng một remote duy nhất để chỉnh mọi thứ.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/samsungTV8K_zing0371.jpg" alt="">
                                        </div>
                                        <p>
                                            Với Q900R, người dùng có thể sử dụng TV như một bộ điều khiển trung tâm các thiết bị thông minh IoT trong gia đình. Tuy vậy, tính năng này đòi hỏi người dùng sử dụng các thiết bị của Samsung. Hiện Q900R được bán tại Việt Nam với mức giá gần 120 triệu
                                            đồng cho phiên bản 65 inch.
                                        </p>

                                    </div>
                                </div>
                                <!-- Login with Facebook to post comments -->
                                <div class="login-with-facebook my-5">
                                    <a href="#">Login with Facebook to post comments</a>
                                </div>
                            </div>

                            <!-- Related Articles Area -->
                            <div class="related-articles-">
                                <h4 class="mb-70">Bài viết cùng chuyên mục</h4>

                                <div class="row">
                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-6">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/bg-img/19.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">Finance</a>
                                                <a href="#" class="post-title">
                                                    <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-6">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/bg-img/20.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">Finance</a>
                                                <a href="#" class="post-title">
                                                    <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-6">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/bg-img/20.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">Finance</a>
                                                <a href="#" class="post-title">
                                                    <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-6">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/bg-img/20.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">Finance</a>
                                                <a href="#" class="post-title">
                                                    <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-6">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/bg-img/20.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">Finance</a>
                                                <a href="#" class="post-title">
                                                    <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-6">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img src="img/bg-img/20.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">Finance</a>
                                                <a href="#" class="post-title">
                                                    <h6>This Is How Notebooks Of An Artist Who Travels Around The World Look</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">By <a href="#">Michael Smithson</a></p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix" id="comments">
                                <h4 class="title mb-70">1 comment</h4>

                                <ol>
                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="img/bg-img/t1.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-author">Christian Williams</a>
                                                <a href="#" class="post-date">April 15, 2018</a>
                                                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                            </div>
                                        </div>
                                        <ol class="children">
                                            <li class="single_comment_area">
                                                <!-- Comment Content -->
                                                <div class="comment-content d-flex">
                                                    <!-- Comment Author -->
                                                    <div class="comment-author">
                                                        <img src="img/bg-img/t2.jpg" alt="author">
                                                    </div>
                                                    <!-- Comment Meta -->
                                                    <div class="comment-meta">
                                                        <a href="#" class="post-author">Sandy Doe</a>
                                                        <a href="#" class="post-date">April 15, 2018</a>
                                                        <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>

                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="img/bg-img/t3.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-author">Christian Williams</a>
                                                <a href="#" class="post-date">April 15, 2018</a>
                                                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>

                            <div class="post-a-comment-area">
                                <h4 class="mb-70">Leave a comment</h4>

                                <!-- Reply Form -->
                                <div class="contact-form-area">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" id="name" placeholder="Name*">
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="email" class="form-control" id="email" placeholder="Email*">
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="subject" placeholder="Website">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn viral-btn mt-30" type="submit">Submit Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Blog Area End ##### -->

        <% include layout/footer %>

            <% include layout/script %>
</body>

</html>