<!DOCTYPE html>
<html lang="en">

<head>
    <% include layout/header %>
</head>

<body>
    <% include layout/nav %>

        <!-- ##### Viral News Breadcumb Area Start ##### -->
        <div class="viral-news-breadcumb-area section-padding-50">
            <div class="container h-100">
                <div class="row h-100 align-items-center">

                    <!-- Breadcumb Area -->
                    <div class="col-12 col-md-4">
                        <h3>Phim chiếu rạp</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/homepage">Home</a></li>
                                <li class="breadcrumb-item"><a href="phim-anh">Phim ảnh</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Phim chiếu rạp</li>
                            </ol>
                        </nav>
                    </div>

                    <!-- Add Widget -->
                    <div class="col-12 col-md-8">
                        <div class="add-widget">
                            <a href="#"><img src="img/bg-img/add2.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Viral News Breadcumb Area End ##### -->

        <!-- ##### Blog Area Start ##### -->
        <div class="blog-area section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-11">
                        <div class="blog-posts-area">

                            <!-- Single Featured Post -->
                            <div class="single-blog-post-details">
                                <div class="post-data">
                                    <h2 class="post-title">
                                        <%= page %>
                                    </h2>
                                    <a href="phim-anh" class="post-catagory">Phim ảnh</a>
                                    <div class="post-meta">

                                        <!-- Post Details Meta Data -->
                                        <div class="post-details-meta-data mb-50 d-flex align-items-center justify-content-between">
                                            <!-- Post Author & Date -->
                                            <div class="post-authors-date">
                                                <p class="post-author">Đăng bởi <a href="#">Nguyễn Anh Tuấn</a></p>
                                                <p class="post-date">14:08 20/04/2019</p>
                                                <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                            </div>
                                            <!-- View Comments -->
                                            <div class="view-comments">
                                                <p class="views">1281 lượt xem</p>
                                                <a href="#comments" class="comments">3 bình luận</a>
                                            </div>
                                        </div>

                                        <p>Bom tấn "Avengers: Endgame" sẽ công phá các rạp chiếu từ ngày 26/4. Các siêu anh hùng sẽ làm gì để đảo ngược cú búng tay định mệnh của Thanos và giải cứu mọi người?</p>
                                        <div class="post-thumb">
                                            <img src="img/upload/BTP9020_v1401055.jpg" alt="">
                                        </div>
                                        <p>Các thành viên Avengers sẽ du hành thời gian? Giới chuyên môn và fan MCU đều đoán các thành viên sống sót của biệt đội siêu anh hùng Avengers sẽ đi về quá khứ - có thể là thông qua Lượng tử giới (Quantum Realm)
                                            - để đảo ngược cú búng tay xóa sổ 50% sinh linh vũ trụ của Thanos.</p>

                                        <div class="post-thumb">
                                            <img src="img/upload/pe.jpg" alt="">
                                        </div>
                                        <p><strong>Nhóm Avengers có tìm hiểu dự án Pegasus? </strong>Trong<em> Captain Marvel</em>, nhà khoa học Mar-Vell đã tận dụng dự án Pegasus để nghiên cứu Đá Không gian nhằm tạo ra động cơ tốc độ ánh sáng. Ở <em>The Avengers, </em>Giám
                                            đốc SHIELD Nick Fury, chuyên gia Erik Selvig và Hawkeye đề tham gia vào dự án này. Cha của Tony Stark cũng đóng một vai trò lớn ở đó. Rất có thể Pegasus sẽ là chìa khóa để các thành viên Avengers trở về quá
                                            khứ.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/LST3480_v013_TRL1088.jpg" alt="">
                                        </div>
                                        <p><strong>Iron Man và Nebula trở về Trái đất như thế nào? </strong>Trailer mới của <em>Avengers: Endgame</em> cho thấy Iron Man và Nebula đều trở về Trái đất an toàn. Nhưng họ làm được điều đó thế nào khi động cơ
                                            phi thuyền bị hỏng, thức ăn và dưỡng khí đều cạn kiệt? Tony Stark là một thiên tài và khi bị giam trong hang đá, anh đã chế tạo ra bộ giáp Iron Man. Rất có thể anh và Nebula cùng hợp tác để tìm thấy đường sống.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/LVA9080_v0151058.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Ant-Man thoát khỏi Lượng tử giới như thế nào? </strong><em>Cuối Ant-Man and the Wasp</em>, Người Kiến mắc kẹt trong Lượng tử giới (Quantum Realm). Chúng ta đều biết rõ Scott Lang sẽ thoát khỏi thế giới
                                            vô cùng nhỏ đó, bởi anh xuất hiện trong trailer <em>Endgame</em>. Anh làm được điều đó như thế nào khi không có bất kỳ ai hỗ trợ?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/EBA3000_v002_TRL1275.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Gia đình Hawkeye đều thiệt mạng sau cú búng tay của Thanos? </strong>Trailer <em>Endgame </em>cho thấy Hawkeye sầu khổ trở thành Ronin, tiêu diệt mafia tại Nhật trước khi gặp Black Widow. Nếu cả gia
                                            đình Clint Barton thiệt mạng sau cú búng tay của Thanos, rất có thể anh sẽ phát điên và rơi vào vòng xoáy bạo lực, trở thành Ronin trước khi quay lại với nhóm Avengers.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/civil.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Captain America và Iron Man sẽ tái ngộ như thế nào? </strong>Lần cuối chạm mặt nhau ở <em>Captain Americal: Civil War</em>, Captain America và Iron Man giao chiến dữ dội. Kể từ đó, họ không còn liên
                                            lạc. Thậm chí khi binh đoàn của Thanos tấn công Trái đất, Tony Stark vẫn ngần ngại, không muốn gọi điện cho Steve Rogers. Cuộc tái ngộ của họ sẽ là điều khán giả rất mong chờ.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/thanosdi.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Thanos đi đâu sau <em>Avengers: Infinity War</em>? </strong>Đạo diễn <em>Infinity War</em> Joe Russo xác nhận Thanos không xâm nhập vào Thế giới Linh hồn do Đá Linh hồn tạo ra. Thay vào đó, gã Titan
                                            điên đến nghỉ ngơi tại một hành tinh xa xôi.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/broken.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Găng tay Vô cực đã hỏng hay còn sử dụng được? </strong>Sau khi Thanos búng tay tiêu diệt 50% sinh linh trong vũ trụ, Găng tay Vô cực chứa 6 viên Đá Vô cực bị cháy xém. Khi đó, Thanos vẫn có thể dùng
                                            Đá Không gian để chạy trốn. Liệu hắn sẽ còn tiếp tục sử dụng Găng tay Vô cực?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/hulkban.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Bruce Banner và Hulk giải quyết mâu thuẫn như thế nào? </strong>Trong <em>Infinity War</em>, Người Khồng Lồ Xanh không chịu xuất hiện bất chấp sự nài nỉ của Bruce Banner. Đạo diễn Joe Russo cho biết
                                            Hulk đã quá mệt mỏi vì cứ phải cứu Banner. Mối quan hệ của cả hai trở nên phức tạp và cần được giải quyết.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/vission.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Nhóm Avengers có cứu được Vision? </strong>Vision thiệt mạng sau khi Thanos kéo Đá Tâm trí ra khỏi trán anh. Nhưng có thể Tony Stark sẽ sửa chữa Vision khi anh trở về Trái đất. Iron Man từng sửa được
                                            Jarvis sau khi trí tuệ nhân tạo này bị Ultron phá hủy. Và hi vọng Shuri lưu lại dữ liệu của Vision trước khi tan biến thành tro bụi.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/val2.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Valkyrie, Korg và những người Asgard sống sót ở đâu? </strong>Đạo diễn Joe Russo cho biết Valkyrie sống sót sau khi Thanos tấn công tàu không gian của người Asgard. Cô và những người Asgard còn lại,
                                            cùng Korg và Miek đã trốn đi đâu?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/stan1.jpeg" alt="">
                                        </div>
                                        <p>
                                            <strong>Vai khách mời cuối cùng Stan Lee sẽ như thế nào? </strong>Đạo diễn Joe Russo xác nhận Stan Lee thực hiện vai diễn khách mời (cameo) cuối cùng của đời ông trong <em>Endgame</em>. "Khi Stan đến phim trường,
                                            mọi diễn viên ngôi sao đều trở thành những đứa trẻ hâm mộ", ông Russo mô tả.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/sharon.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Captain America có gặp lại Sharon Carter không? </strong>Trong <em>Civil War</em>, Captain America và Sharon Carter đã thể hiện tình cảm bằng một nụ hôn. Tuy nhiên, cháu gái của Peggy Carter không có
                                            mặt trong <em>Infinity War</em>. Nếu Sharon còn sống, liệu Captain có gặp lại cô và nối lại tình cảm hay không?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/tonpep.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Tony Stark và Pepper Potts có làm đám cưới? </strong>Tony Stark và Pepper Potts đã đính hôn, nhưng họ bị chia cắt khi binh đoàn của Thanos tấn công Trái đất. Sau khi Iron Man trở về, liệu họ có làm đám
                                            cưới? Và pháp sư Wong có tham dự hôn lễ của họ không?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/strange.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Viễn cảnh mà Doctor Strange thấy là gì? </strong>Trên hành tinh Titan, Doctor Strange dùng Đá Thời gian và quan sát hơn 14 triệu kết quả trong cuộc chiến chống Thanos. Và chỉ có một là nhóm Avengers
                                            chiến thắng. Viễn cảnh đó thực sự là như thế nào?
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/avengersposters.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Những siêu anh hùng nào sẽ thiệt mạng? </strong>Chắc chắn tất cả các siêu anh hùng sẽ không thể sống sót trong cuộc chiến chống Thanos. Giới chuyên môn và khán giả dự đoán Captain America và Iron Man
                                            sẽ hi sinh.
                                        </p>

                                        <div class="post-thumb">
                                            <img src="img/upload/thanosem.jpg" alt="">
                                        </div>
                                        <p>
                                            <strong>Thế còn số phận của Thanos sẽ ra sao? </strong>Trong lần tái ngộ, Thor chắc chắn sẽ nhắm vào đầu của Thanos. Và Nebula rất muốn trả thù người cha nuôi tàn độc của cô. Nhưng điều đó liệu có quá dễ dàng?
                                            Không ít siêu ác nhân trong MCU bị đánh bại nhưng vẫn sống sót. Rất có thể Thanos cũng sẽ chung số phận đó.
                                        </p>


                                    </div>
                                </div>
                                <!-- Login with Facebook to post comments -->
                                <div class="login-with-facebook my-5">
                                    <a href="#">Login with Facebook to post comments</a>
                                </div>
                            </div>

                            <!-- Comment Area Start -->
                            <div class="comment_area clearfix" id="comments">
                                <h4 class="title mb-70">3 comment</h4>

                                <ol>
                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="img/bg-img/t1.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-author">Christian Williams</a>
                                                <a href="#" class="post-date">April 15, 2018</a>
                                                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                            </div>
                                        </div>
                                        <ol class="children">
                                            <li class="single_comment_area">
                                                <!-- Comment Content -->
                                                <div class="comment-content d-flex">
                                                    <!-- Comment Author -->
                                                    <div class="comment-author">
                                                        <img src="img/bg-img/t2.jpg" alt="author">
                                                    </div>
                                                    <!-- Comment Meta -->
                                                    <div class="comment-meta">
                                                        <a href="#" class="post-author">Sandy Doe</a>
                                                        <a href="#" class="post-date">April 15, 2018</a>
                                                        <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </li>

                                    <!-- Single Comment Area -->
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content d-flex">
                                            <!-- Comment Author -->
                                            <div class="comment-author">
                                                <img src="img/bg-img/t3.jpg" alt="author">
                                            </div>
                                            <!-- Comment Meta -->
                                            <div class="comment-meta">
                                                <a href="#" class="post-author">Christian Williams</a>
                                                <a href="#" class="post-date">April 15, 2018</a>
                                                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>

                            <div class="post-a-comment-area">
                                <h4 class="mb-70">Leave a comment</h4>

                                <!-- Reply Form -->
                                <div class="contact-form-area">
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" id="name" placeholder="Name*">
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="email" class="form-control" id="email" placeholder="Email*">
                                            </div>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="subject" placeholder="Website">
                                            </div>
                                            <div class="col-12">
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button class="btn viral-btn mt-30" type="submit">Submit Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <br>
                            <!-- Related Articles Area -->
                            <div class="related-articles-">
                                <h4 class="mb-70">Bài viết cùng chuyên mục</h4>

                                <div class="row">
                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-12">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img style="width: 508px; height: 293px;" src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_rkxrxd/2019_04_29/Avengers_endgame_1_1.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                                <a href="#" class="post-title">
                                                    <h6>Trong kịch bản đầu tiên, 'Avengers: Endgame' diễn biến như thế nào?</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                                <p class="post-excerp">Để cho ra một siêu phẩm hoàn hảo nhất có thể, biên kịch của 'Avengers: Endgame' đã phải dựng lên nhiều ý tưởng khác nhau trước khi đi đến kịch bản cuối cùng.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-12">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img style="width: 508px; height: 293px;" src="https://znews-photo.zadn.vn/w480/Uploaded/xbhunku/2019_04_29/e15.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                                <a href="#" class="post-title">
                                                    <h6>Những chi tiết thú vị ẩn giấu trong bom tấn 'Avengers: Endgame'</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                                <p class="post-excerp">Bom tấn siêu anh hùng mới nhất của Marvel Studios chẳng khác nào một bữa đại tiệc 'trứng phục sinh' để các fan tìm kiếm, soi xét, và suy đoán.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-12">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img style="width: 508px; height: 293px;" src="https://znews-photo.zadn.vn/w480/Uploaded/bzcvolp3/2019_04_29/ironmantony.jpg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                                <a href="#" class="post-title">
                                                    <h6>Iron Man - siêu anh hùng vĩ đại nhất</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                                <p class="post-excerp">Trong thế giới truyện tranh, Iron Man thua kém Batman và Superman của DC, Spider-Man và Wolverine từ Marvel. Nhưng trên màn ảnh lớn, không ai có thể so được với Tony Stark.</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Single Post -->
                                    <div class="col-12 col-lg-12">
                                        <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                            <!-- Post Thumb -->
                                            <div class="post-thumb">
                                                <a href="#"><img style="width: 508px; height: 293px;" src="https://znews-photo.zadn.vn/w480/Uploaded/mdf_rkxrxd/2019_04_29/avaend1.jpeg" alt=""></a>
                                            </div>
                                            <!-- Post Data -->
                                            <div class="post-data">
                                                <a href="#" class="post-catagory">PHIM ẢNH</a>
                                                <a href="#" class="post-title">
                                                    <h6>Với 1,2 tỷ USD doanh thu tuần đầu, 'Endgame' liệu có vượt 'Avatar'?</h6>
                                                </a>
                                                <div class="post-meta">
                                                    <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                                    <p class="post-date">5 Hours Ago</p>
                                                </div>
                                                <p class="post-excerp">Doanh thu 1,2 tỷ USD sau tuần đầu công chiếu liệu có phải là tín hiệu cho thấy "Avengers: Endgame" sẽ soán ngôi "Avatar" ở danh sách phim có doanh thu cao nhất mọi thời đại?</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Post -->
                                <div class="col-12 col-lg-12">
                                    <div class="single-blog-post style-3 style-5 d-flex align-items-center mb-50">
                                        <!-- Post Thumb -->
                                        <div class="post-thumb">
                                            <a href="#"><img style="width: 508px; height: 293px;" src="https://znews-photo.zadn.vn/w480/Uploaded/xbhunku/2019_04_29/58379605_379647249302285_3675327566727610368_n.jpg" alt=""></a>
                                        </div>
                                        <!-- Post Data -->
                                        <div class="post-data">
                                            <a href="#" class="post-catagory">PHIM ẢNH</a>
                                            <a href="#" class="post-title">
                                                <h6>Avengers: 'Endgame' thu hơn 112 tỷ đồng tại Việt Nam chỉ sau 3 ngày</h6>
                                            </a>
                                            <div class="post-meta">
                                                <p class="post-author">Tag <a href="#">Avengers Endgame</a>, <a href="#">Tony Stark</a> </p>
                                                <p class="post-date">5 Hours Ago</p>
                                            </div>
                                            <p class="post-excerp">Giống như tại nhiều nơi trên thế giới, 'Avengers: Endgame' lập kỳ tích trong ba ngày trình chiếu đầu tiên ở Việt Nam.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        </div>
        </div>
        <!-- ##### Blog Area End ##### -->

        <% include layout/footer %>

            <% include layout/script %>
</body>

</html>