<div class="footer">
    <div class="pull-right">
        <a href="https://www.facebook.com/ntuan.2502" target="_blank"><i class="fa fa-heart-o" aria-hidden="true"></i> by NAT</a>
    </div>
    <div>
        <p>
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> All rights reserved
        </p>
    </div>
</div>